altair==4.1.0
astor==0.8.1
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
gitdb==4.0.7
GitPython==3.1.18
highlight-text==0.2
idna==2.10
ipykernel==5.4.2
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==1.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==1.0.9
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lesscpy==0.14.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
mplsoccer==1.0.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.0.3
numpy==1.19.4
numpydoc==1.1.0
packaging==20.8
pandas==1.2.5
pandocfilters==1.4.3
parso==0.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare==0.7.5
Pillow==8.2.0
ply==3.11
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.17.3
ptyprocess==0.6.0
pyarrow==4.0.1
pydeck==0.6.2
Pygments==2.7.3
pylint==2.5.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz==2021.1
pyzmq==20.0.0
requests==2.25.1
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.5.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
slothplots==0.0.1
smmap==4.0.0
soupsieve==2.2.1
sphinx-gallery==0.8.2
streamlit==0.83.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
tzlocal==2.1
urllib3==1.26.6
validators==0.18.2
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
